:root {
    /* --- --- --- Syntax Highlight Color Themes --- --- --- */

    /* --- Monokai Theme */
    --theme-monokai-background:    #272822;
    --theme-monokai-foreground:    #F8F8F2;
    --theme-monokai-comment:       #75715E;
    --theme-monokai-red:           #F92672;
    --theme-monokai-orange:        #FD971F;
    --theme-monokai-light-orange:  #E69F66;
    --theme-monokai-yellow:        #E6DB74;
    --theme-monokai-green:         #A6E22E;
    --theme-monokai-blue:          #66D9EF;
    --theme-monokai-purple:        #AE81FF;

    /* --- Parasol Theme */
    --theme-parasol-background:    #F8F8F2;
    --theme-parasol-foreground:    #25b2ee;
    --theme-parasol-builtin:       #80A5E9;
    --theme-parasol-comment:       #BFBFBF;
    --theme-parasol-doc:           #004260;
    --theme-parasol-functions:     #7540CA;
    --theme-parasol-keyword:       #FB4934;
    --theme-parasol-string:        #00B664;
    --theme-parasol-type:          #F73D8A;
    --theme-parasol-variables:     #008ED4;

    /* Gruvbox Theme Colors */
    --theme-gruvbox-background:    #282828;
    --theme-gruvbox-foreground:    #ebdbb2;
    --theme-gruvbox-dark-1:        #3c3836;
    --theme-gruvbox-dark-2:        #504945;
    --theme-gruvbox-dark-3:        #665c54;
    --theme-gruvbox-dark-4:        #7c6f64;
    --theme-gruvbox-light-1:       #fdf4c1;
    --theme-gruvbox-light-2:       #d5c4a1;
    --theme-gruvbox-light-3:       #bdae93;
    --theme-gruvbox-light-4:       #a89984;
    --theme-gruvbox-red:           #fb4934;
    --theme-gruvbox-orange:        #fe8019;
    --theme-gruvbox-yellow:        #fabd2f;
    --theme-gruvbox-green:         #b8bb26;
    --theme-gruvbox-aqua:          #8ec07c;
    --theme-gruvbox-blue:          #83a598;
    --theme-gruvbox-purple:        #d3869b;
    --theme-gruvbox-builtin:       var(--theme-gruvbox-orange);
    --theme-gruvbox-comment:       var(--theme-gruvbox-dark-4);
    --theme-gruvbox-doc:           var(--theme-gruvbox-dark-4);
    --theme-gruvbox-function-name: var(--theme-gruvbox-yellow);
    --theme-gruvbox-keyword:       var(--theme-gruvbox-red);
    --theme-gruvbox-string:        var(--theme-gruvbox-green);
    --theme-gruvbox-type:          var(--theme-gruvbox-purple);
    --theme-gruvbox-variable-name: var(--theme-gruvbox-blue);
    --theme-gruvbox-rainbow1:      #458588;
    --theme-gruvbox-rainbow2:      #b16286;
    --theme-gruvbox-rainbow3:      #8ec07c;
    --theme-gruvbox-rainbow4:      #d65d0e;
}
