@import "common.css" screen;
@import "codehl.css" screen;

:root {
    --light-background: #ffffff;
    --light-foreground: #333333;

    /* --- --- --- Syntax Highlighting for Code Sections --- --- ---  */
    --light-code-background:           var(--code-parasol-background);
    --light-code-foreground:           var(--code-parasol-foreground);
    --light-code-builtin:              var(--code-parasol-builtin);
    --light-code-comment:              var(--code-parasol-comment);
    --light-code-doc:                  var(--code-parasol-doc);
    --light-code-function-name:        var(--code-parasol-functions);
    --light-code-keyword:              var(--code-parasol-keyword);
    --light-code-string:               var(--code-parasol-string);
    --light-code-type:                 var(--code-parasol-type);
    --light-code-variable-name:        var(--code-parasol-variables);
}

body { background: var(--light-background);
       color: var(--light-foreground); }

/* -- Code Blocks -- */
.org-builtin            { color: var(--light-code-builtin); }
.org-comment            { color: var(--light-code-comment); }
.org-comment-delimiter  { color: var(--light-code-comment); }
.org-doc                { color: var(--light-code-doc); }
.org-function-name      { color: var(--light-code-function-name); }
.org-keyword            { color: var(--light-code-keyword); }
.org-string             { color: var(--light-code-string); }
.org-type               { color: var(--light-code-type); }
.org-variable-name      { color: var(--light-code-variable-name); }
.org-src-container      { color: var(--light-code-foreground);
                          background: var(--light-code-background);
                          border: 1px solid var(--light-border-src); }
