@import "common.css" screen;
@import "codehl.css" screen;

:root {
    --background: #ffffff;
    --foreground: #333333;
    --foreground-secondary: #aaa;

    /* --- --- --- Syntax Highlighting for Code Sections --- --- ---  */
    ---code-background:           var(--code-gruvbox-background);
    ---code-foreground:           var(--code-gruvbox-foreground);
    ---code-builtin:              var(--code-gruvbox-orange);
    ---code-comment:              var(--code-gruvbox-dark-4);
    ---code-doc:                  var(--code-gruvbox-dark-4);
    ---code-function-name:        var(--code-gruvbox-red);
    ---code-keyword:              var(--code-gruvbox-keyword);
    ---code-string:               var(--code-gruvbox-yellow);
    ---code-type:                 var(--code-gruvbox-type);
    ---code-variable-name:        var(--code-gruvbox-variables);
}

body { background: var(--background);
       color: var(--foreground); }

/* -- Code Blocks -- */
.org-builtin            { color: var(---code-builtin); }
.org-comment            { color: var(---code-comment); }
.org-comment-delimiter  { color: var(---code-comment); }
.org-doc                { color: var(---code-doc); }
.org-function-name      { color: var(---code-function-name); }
.org-keyword            { color: var(---code-keyword); }
.org-string             { color: var(---code-string); }
.org-type               { color: var(---code-type); }
.org-variable-name      { color: var(---code-variable-name); }
.org-src-container      { color: var(---code-foreground);
                          background: var(---code-background);
                          border: 1px solid var(---border-src); }

.pubdate { color: var(--foreground-secondary); }
