body {
    padding: 0px;
    margin: 0px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14pt;
    line-height: 28px;
}
h1 {
    padding: 0;
    margin: 0;
}

.social {
    float: left;
    width: 150px;
    height: 100vh;
    padding: 50px;
    background: #d14;
    position: fixed;
}
.social .avatar {
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto;
}

.social .balloon {
    display: block;
    background: url("../img/balloon.png") no-repeat;
    width: 100px;
    height: 50px;
    padding: 12px 0 0 12px;
    margin: 4px auto 8px;
    font-size: 11pt;
    font-weight: bold;
    color: #fff;
    line-height: 16px;
}
.social .menu a {
    text-decoration: none;
    color: #000;
}

.social .menu a:hover {
    text-decoration: none;
    color: #000;
    background: #fc0;
    border-radius: 5em;
    padding: 0 10px;
}

.social .menu {
    padding: 0;
    text-align: center;
    list-style: none;
    font-size: 11pt;
}

.social .badges {
    margin: 10px auto;
    padding: 20px;
    width: 90px;
    font-size: 18px;
    list-style: none;
    display: block;
    border-top: solid 1px #c00;
}
.social .badges li {
    padding-left: 8px;
    float: left;
}
.social .badges a {
    float: left;
    display: block;
    width: 22px;
    height: 23px;
    overflow: hidden;
    color: #000;
}
.social a:hover {
    color: #fc0;
}

.post {
    display: block;
    margin-left: 280px;
    padding: 20px;
}
