<div class="social">
  <div class="container">

    <ul class="badges">
      <li>
        <a href="mailto:lincoln@clarete.li" alt="Email">
          <span class="fa fa-envelope-o"></span>EMail
        </a>
      </li>
      <li>
        <a href="https://github.com/clarete" target="_blank" alt="Github">
          <span class="fa fa-github-alt"></span>Github
        </a>
      </li>
    </ul>

    <a href="/">
      <img class="avatar" type="image/svg+xml" src="/media/img/8bitme.svg" alt="Me in 8bit" />
    </a>

    <div class="balloon">
      Happy Hacking!
    </div>

  </div>
</div>
