@import "colors.css" screen;

body.reveal-viewport {
    background: var(--background);
    color: var(--foreground);
}

.reveal a, .reveal a:visited {
    font-weight: bold;
    color: var(--link-color);
}

.reveal a:hover {
    background-color: var(--link-hover-background);
    color: var(--link-hover-color);
}

.reveal .progress span {
    background-color: var(--progress-background);
}

.controls-arrow {
    color: var(--arrows-color);
}

.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5 {
    padding: 0;
    color: var(--title-color);
    font-weight: 600;
    line-height: 1.1em;
}

.reveal h1 { font-size: 5em; }
.reveal h2 { font-size: 2.5em; }
.reveal h3 { font-size: 2em; }
.reveal h4 { font-size: 1.5em; }

.reveal table, table {
    border-top-color: transparent;
    border-bottom-color: transparent;
}

.reveal table td, table td {
    vertical-align: top;
}

.slides section {
    color: var(--foreground);
    text-align: left;
}

.slides ol li,
.slides ul li {
    margin-bottom: 20px;
}

.reveal .slides section:nth-child(1) {

}

.reveal section img {
    border: none;
    box-shadow: none;
    padding: 60px;
}

.reveal section .titleimg img {
    width: 50%;
}

code {
    background: var(--code-background);
    border-radius: 5px;
    padding: 0 4px;
}

.org-src-container code {
    background: none;
    color: var(--code-foreground);
    border-radius: 0;
    padding: 0;
}

.org-src-container {
    background: var(--code-background);
    color: var(--code-foreground);
}

.reveal pre {
    line-height: 1.3em;
    font-size: 0.5em;
    box-shadow: none;
    margin: 0;
    padding: 20px;
    width: 100%;
}

.thanks object {
    width: 20%;
    display: block;
    float: left;
    margin: 10% -50px 0 0;
}

.thanks ul {
    margin-top: 10%;
    list-style: none;
    padding: none:
}
